<div class="container mt-3">
  <div class="col-md-6 offset-3">
    <div class="card">
      <div class="card-header">
        Authentication
      </div>
      <div class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
      <div class="card-body">
        <form [formGroup]="UserFormGroup" (ngSubmit)="handleLogin()">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" formControlName="username" class="form-control">
            <label class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control">
            <button class="btn btn-primary mt-2" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
